body {
  font-family: sans-serif;
  background: #fafafa;
  margin: auto;
  background-image: url("/Frontend/assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.admin-container {
  max-width: 600px;
  margin: 3rem auto;
  padding: 2rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.admin-container button {
  display: block;
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
  font-size: 1rem;
  background: #343a40;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.admin-container button:hover {
  background: #495057;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
