.navbar {
  background-color: #333;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

#movies-container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}

/*each movie card*/
.movie {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  cursor: pointer;
  padding-bottom: 1rem;
  text-align: center;
}

.movie:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-4px);
}

.movie:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-4px);
}

.movie img {
  width: 100%;
  height: 330px;
  object-fit: cover;
  display: block;
}

.movie:hover img {
  transform: scale(1.03);
}

.movie h2 {
  font-size: 1.2rem;
  margin: 0.75rem;
  color: #222;
  text-align: center;
  font-weight: 600;
}

.movie p {
  font-size: 0.95rem;
  color: #555;
  margin: 0.4rem 1rem;
  line-height: 1.4;
}

.movie p strong {
  color: #222;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  gap: 10px;
}

.search-bar input {
  padding: 10px 15px;
  width: 300px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border 0.3s, box-shadow 0.3s;
}

.search-bar button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar button:hover {
  background-color: #0056b3;
}

.view-details-link {
  align-items: center;
  color: #4f46e5;
  font-weight: 600;
  text-decoration: none;
  padding: 6px 12px;
  border: 2px solid #4f46e5;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.view-details-link:hover {
  background-color: #4f46e5;
  color: white;
  text-decoration: none;
}
