body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  background-image: url("/Frontend/assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  height: 100vh;
}

.navbar {
  background-image: url("/Frontend/assets/background.jpg");
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  background-color: black;
  border-bottom: 2px solid rgb(25, 0, 255);
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: rgb(0, 30, 255);
}

.navright {
  display: flex;
  align-items: center;
  gap: 15px;
}

.login-btn {
  padding: 6px 14px;
  border: 1px solid rgb(43, 0, 255);
  background: transparent;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background-color: rgb(0, 26, 255);
  color: black;
}
